body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Grey background */
    font-family: Arial, sans-serif;
}

#number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh; /* Takes up at least 50% of the viewport height */
}

#big-number {
    font-size: 800px; /* 4 times bigger */
    font-weight: bold;
    color: #34a0ff; /* White color */
    transition: opacity 0.5s ease; /* Adds a transition to the opacity property */
    opacity: 1; /* Default opacity */
}

.fade-out {
    opacity: 0; /* Target opacity */
}

#start-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #808080;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Adds some space between the button and the number */
}

#start-button:hover {
    background-color: #f0f0f0;
}
